*,
::after,
::before {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap');
html {
  font-size: 100%;
}

:root {
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* fonts  */
  --headingFont: 'Roboto', sans-serif;
  --bodyFont: 'Nunito', sans-serif;
  --smallText: 0.7em;

  /* colors */
  --secondaryColor: rgb(255, 153, 0);
}

main {
  margin: 0 auto;
  /* or: align-self: center */
  max-width: 80ch;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(./images/library-background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Navbar */
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 4rem;
}
.nav-center {
  width: 100%;
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-right: 2rem;
}
.nav-logo {
  display: flex;
  align-items: flex-end;
  padding: 0 0.75rem;
}

.nav-header img {
  width: 175px;
  margin: 0;
  border-radius: 10px;
}

.nav-links {
  display: flex;
  transition: var(--transition);
  flex-direction: row;
  align-items: center;
  /* width: 100%;  */
}

.nav-link {
  display: block;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: var(--secondaryColor);
  transition: var(--transition);
  margin-right: 1rem;
}

.nav-link:hover,
.contact-link a:hover {
  color: var(--accentColor2);
}

.contact-link a {
  padding: 0.15remm 1rem;
  color: var(--secondaryColor);
  font-weight: bold;
  letter-spacing: 1.5px;
}

.contact-link {
  margin-left: auto;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .nav-logo {
    display: none;
  }

  .nav-link {
    font-weight: normal;
    letter-spacing: 1.5px;
    margin-right: 1rem;
  }
}

@media screen and (max-height: 950px) {
  .contact-link a {
    display: none;
  }
}
/* end of nav */

.responsive {
  max-width: 75%;
  height: auto;
}

img {
  margin: 15px 5px 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-4);
}

.displayBox {
  width: 100%;
  font: var(--bodyFont);
}

.scroll-box1 {
  overflow-y: auto; /* adds a scroll bar when content overflows */
  max-height: 600px;
  float: left;
  padding: 1rem;
}

.scroll-box2 {
  overflow-y: auto;
  max-height: 85vh;
  float: left;
  padding: 1rem;
}

.book-list {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.book-list li {
  margin: 1.4rem 0;
}
.book-list li a {
  background: rgb(181, 94, 18);
  /* border: 2px solid var(--secondaryColor); */
  border-radius: var(--borderRadius);
  padding: 0.7em;
  text-decoration: none;
  color: #fff;
}

.book-list li a:hover {
  text-decoration: none;
  color: rgb(159, 206, 233);
}

.card {
  margin: 1.4rem 0;
}

.card-header {
  text-align: center;
  color: #fff;
  background: rgb(46, 67, 113) !important;
}
.card-body {
  background: #fdf5df !important;
}

.card-footer {
  justify-content: center;
  display: flex;
  background: #fdf5df !important;
}

.btn {
  /* padding: 1em; */
  border: 10px solid var(--secondaryColor);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.code-header {
  color: #fff;
}

/* footer */
.page-footer {
  height: 4rem;
  background: rgba(254, 254, 254, 0.961);
  color: rgb(92, 88, 88);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
.page-footer p {
  margin: 1em;
}

.footer-logo,
.page-footer a {
  color: var(--secondaryColor);
}
@media screen and (min-width: 900px) {
  .page-footer {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 708px) {
  .page-footer {
    flex-direction: column;
    padding: 3.5em;
  }
  .page-footer p {
    margin: 0.15em;
  }
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 1em;
}
